@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 4em;
    font-family: var(--font2)
}   

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

pre {
    font-family: var(--font3);
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
}

section {
    line-height: 30px;
    padding: 30px;
}

section > pre {
    padding-bottom: 2em;
}


section.normal {
    background-color: white;
}

section.imagem {
    background-color: rgba(145, 139, 139, 0.726);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.486);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > pre {
    background-color: rgba(0, 0, 0, 0.377);
    display: inline-block;
    padding-right: 40px;
}

section#img01 {
    background-image: url(imagem/background001.jpg);
    background-position: right center;
    
}

section#img02 {
    background-image: url(imagem/background002.jpg);
    background-position: right center;

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte1);
}



